.login_container {
  width: 60%;
  text-align: center;
  margin: 0px auto;
  padding: 10px;
}

.game-title {
  font-size: 50px;
  font-family: "Times New Roman";
  text-shadow: 1px 1px #ff0000;
}

#game-container {
  padding: 20px;
  text-align: center;
}

.btn-long {
  width: 150px;
}

.col-grey {
  background-color: rgb(231, 225, 225);
  margin: 5px;
}
